.creators{
    height: 100vh;
}

.creators-text h2{
    font-size: 28px;
    font-weight: 400;
    color: white;
}

.creators-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 5vh;
}

.item-container1{
    border-radius: 8px;
    background-color: white;
    height: 100%;
    width: 100%;
}

.item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
    transition: .4s;
    border-radius: 50%;
    overflow: hidden;
}

.item-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.item-text{
    font-size: 20px;
    padding-top: 10%;
    padding-left: 12%;
    font-weight: 400;
}

.item-author{
    padding-top: 5%;
    padding-left: 12%;
    padding-bottom: 10%;
    color: #767676;
    cursor: pointer;
    font-size: 14px;
}

.item-container2{
    border-radius: 8px;
    background-color: white;
    height: 100%;
    width: 100%;
    align-items: center;
    
}
.item-container3{
    border-radius: 8px;
    background-color: white;
    height: 100%;
    width: 100%;
    align-items: center;
}