@media screen and (max-width:768px){
    .menu{
        flex-direction: row-reverse;
    }
    .navigation-bar{
        display: none;
    }
    .menu-img{
        display: block;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 4px;
    }
    .header-container{
        width: 100%;
    }
}