.start{
    height: 100vh;
    background-image: url(../../img/lastbg.png);
    background-size: cover;
}


.start-text h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 54px;
    padding-top: 283px;
    font-weight: 400;
}

.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
}

.start-button button{
    width: 15vh;
    height: 5vh;
    font-size: 16px;
    color: white;
    border: none;
    background-color: var(--item-color);
    border-radius: 8px;
    margin-top: 3%;
    transition: .4s;
}

.start-button button:hover{
    transform: scale(1.1);
    cursor: pointer;
}