@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html{
    width: 100%;
}

:root{
    --bg-color:#121214;
    --item-color:#0033FF;
    --gray-text:#A6A8AD;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: var(--bg-color);
    width: 100%;
}

.wrap{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}

/* header section */

.logo{
    height: 30px;
    width: 97px;
    cursor: pointer;
    transition: .4s;
}

.logo:hover{
    transform: scale(1.1);
}

.header-container{
    background: var(--bg-color);
    width: 100%;
    position: fixed;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 30px;
}

.nav-section{
    display: flex;
    align-items: center;
    gap: 29px;
}

ul .nav-item + .nav-item{
    margin-left: 20px;
}

.nav-item{
    display: inline-block;
    transition: .4s;
}

.nav-link{
    color: #A6A8AD;
    font-size: 16px;
    font-weight: 400;
    transition: .4s;
}

.nav-link:hover{
    color: white;
}

.nav-item:hover{
    transform: scale(1.1);
}

.header-buttons{
    display: flex;
    align-items: center;
    font-size: 16px;
    gap: 20px;
}

.header-buttons .login button{
    background-color: var(--bg-color);
    border: none;
    color: #A6A8AD ;
    width: 42px;
    height: 20px;
    cursor: pointer;
    transition: .4s;
}

.header-buttons .sign-up button{
    background-color: white;
    border-radius: 32px;
    color: var(--bg-color) ;
    width: 95px;
    height: 35px;
    font-size: 15px;
    font-weight: 400;
    cursor: pointer;
    transition: .4s;
}

.header-buttons .login button:hover{
    transform: scale(1.1);
}

.header-buttons .sign-up button:hover{
    transform: scale(1.1);
}

.top-container{
    color: white;
    background-color: var(--item-color);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    height: 46px;
    width: 100%;
}

.top-main-text{
    margin-right: 20px;
}

.top-click{
    color: white;
    transition: .4s;
}

.top-click:hover{
    transform: scale(1.1);
    border-bottom: 1px solid white;
}

.menu-img{
    display: none;
}

/* home section */

.home{
    height: 100vh;
    background-image: url(/img/homebg.png);
    background-size: cover;
}


.home-container{
    padding-top: 140px;
}

.home-main-text h1{
    font-size: 72px;
    color: white;
    line-height: 72px;
    font-weight: 400;
    padding-top: 140px;
    padding-left: 48px ;
}

.home-low-text{
    font-size: 20px;
    color: white;
    padding-left: 48px;
    padding-top: 26px;
}

.home-button{
    padding-left: 48px;
    padding-top: 44px;
}

.home-button button{
    height: 56px;
    width: 125px;
    background-color: var(--item-color);
    text-align: center;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    transition: .4s;
}

.home-button button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* Sounds section */

.sounds{
    height: 100vh;
    color: white;
}

.sounds-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 223px;
}

.sounds-left-side{
    padding-left: 48px;
}

.sounds-text .title{
    font-size: 12px;
    color: var(--gray-text);
}

.sounds-text .post-tittle h2{
    font-weight: 400;
    font-size: 28px;
    margin-top: 5px;
}

.sounds-text .sounds-low-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    margin-top: 12px;
}

.sound-button button{
    width: 159px;
    height: 36px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: var(--item-color);
    border-radius: 8px;
    margin-top: 18px;
    transition: .4s;
}

.sound-button button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* exp section */

.experience{
    height: 100vh;
}

.exp-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 223px;
    text-align: right;
}

.exp-text .title{
    font-size: 12px;
    color: var(--gray-text);
}

.exp-text .post-tittle h2{
    font-weight: 400;
    font-size: 28px;
    color: white;
    margin-top: 5px;
}

.exp-text .sounds-low-text{
    font-weight: 400;
    font-size: 15px;
    color: white;
    height: 72px;
    line-height: 24px;
    margin-top: 12px;
}

/* Gear section */

.gear{
    height: 100vh;
}

.gear-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding-top: 223px;
}

.gear-text .tittle{
    color: var(--gray-text);
    font-size: 12px;
}

.gear-text .post-tittle h2{
    font-weight: 400;
    font-size: 28px;
    color: white;
    margin-top: 5px;
}

.gear-text .gear-low-text{
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: white;
    margin-top: 12px;
}

.gear-button button{
    width: 140px;
    height: 36px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: var(--item-color);
    border-radius: 8px;
    margin-top: 18px;
    transition: .4s;
}

.gear-button button:hover{
    transform: scale(1.1);
    cursor: pointer;
}


/* technology section */

.tech{
    height: 100vh;
}

.tech-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: right;
    padding-top: 223px;
}

.tech-text .tittle{
    font-size: 12px;
    color: var(--gray-text);
}

.tech-text .post-tittle h2{
    font-weight: 400;
    font-size: 28px;
    color: white;
    margin-top: 5px;
}

.tech-text .tech-low-text{
    font-weight: 400;
    font-size: 15px;
    color: white;
    height: 72px;
    line-height: 24px;
    margin-top: 12px;
}

.tech-button button{
    width: 153px;
    height: 40px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: var(--item-color);
    border-radius: 8px;
    margin-top: 18px;
    transition: .4s;
    font-weight: 400;
}

.tech-button button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* Creators section */

.creators{
    height: 100vh;
}

.creators-text h2{
    font-size: 28px;
    font-weight: 400;
    color: white;
    padding-top: 223px;
}

.creators-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 24px;
}

.item-container1{
    border-radius: 8px;
    background-color: white;
    height: 453px;
    width: 361px;
}

.item-img{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    transition: .4s;
    border-radius: 50%;
    overflow: hidden;
}

.item-img:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.item-text{
    font-size: 20px;
    margin-top: 30px;
    margin-left: 32px;
    font-weight: 400;
}

.item-author{
    margin-top: 16px;
    margin-left: 32px;
    color: #767676;
    cursor: pointer;
    font-size: 14px;
}

.item-container2{
    border-radius: 8px;
    background-color: white;
    height: 453px;
    width: 361px;
    align-items: center;
    
}
.item-container3{
    border-radius: 8px;
    background-color: white;
    height: 453px;
    width: 361px;
    align-items: center;
}

/* Start-section */

.start{
    height: 100vh;
    background-image: url(/img/lastbg.png);
    background-size: cover;
    margin-top: 223px;
}


.start-text h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 54px;
    padding-top: 283px;
    font-weight: 400;
}

.start-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
}

.start-button button{
    width: 114px;
    height: 40px;
    font-size: 16px;
    color: white;
    border: none;
    background-color: var(--item-color);
    border-radius: 8px;
    margin-top: 18px;
    transition: .4s;
}

.start-button button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* footer section */

.footer-container{
    margin:48px;
}

.list-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 60px;
}

.active{
    font-size: 20px;
    color: white;
    font-weight: 400;
    transform: none;
}

.active2{
    font-size: 20px;
    color: white;
    font-weight: 400;
    margin-top: 24px;
}

.list-container ul li{
    margin-top: 12px;
    transition: .4s;
}

.list-container a{
    color: var(--gray-text);
    font-size: 12px;
    transition: .4s;
}

.list-container ul li a:hover{
    color: white;
}


.footer-down{
    margin-top: 83px;
    align-items: center;
    display: flex;
    text-align: center;
    gap: 24px;
}

.rights-container{
    color: var(--gray-text);
    font-size: 15px;
}

.footer-down .footer-links li+li{
    margin-left: 24px;
}

.footer-down .footer-links li{
    display: inline-flex;
    font-size: 15px;
}

.footer-down ul a{
    color: var(--gray-text);
}

/* Mobile screen */

@media screen and (max-width: 828px) {
    .navigation-bar{
        display: none;
    }
    .menu{
        display: flex;
        justify-content: space-between;
    }
    .menu-img{
        width: 50px;
        height: 50px;
        background-color: white;
        border-radius: 8px;
        display: block;
        cursor: pointer;
    }
    .top-container{
        display: flex;
        justify-content: center;
    }
    .sounds-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .sounds-left-side{
        text-align: center;
    }
    
    .exp-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    .exp-text{
        text-align: center;
    }
    .gear-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    .gear-text{
        text-align: center;
    }
    .tech-container{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 50px;
    }
    .tech-text{
        text-align: center;
    }
    .creators-top{
        text-align: center;
    }
    .creators-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .item-container1{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .item-container2{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .item-container3{
        width: 300px;
        height: 300px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    .item-img{
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }
    .item-text{
        font-size: 12px;
        font-weight: bold;
    }
    .item-author{
        font-size: 11px;
    }
    .footer-down{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}