@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url(/css/header_section.css);
@import url(/css/home_section.css);
@import url(/css/sounds-section.css);
@import url(/css/experience-section.css);
@import url(/css/gear-section.css);
@import url(/css/technology_section.css);
@import url(/css/creators-section.css);
@import url(/css/start-section.css);
@import url(/css/footer-section.css);
@import url(/css/mobile_screen.css);

html{
    width: 100%;
}

:root{
    --bg-color:#121214;
    --item-color:#0033FF;
    --gray-text:#A6A8AD;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
}

body{
    background: var(--bg-color);
    width: 100%;
}

.wrap{
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
}


