.tech{
    height: 100vh;
}

.tech-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.tech-text .tittle{
    font-size: 12px;
    color: var(--gray-text);
}

.tech-text .post-tittle h2{
    font-weight: 400;
    font-size: 28px;
    color: white;
    margin-top: 2vh;
}

.tech-text .tech-low-text{
    font-weight: 400;
    font-size: 15px;
    color: white;
    line-height: 24px;
    margin-top: 2vh;
}

.tech-button button{
    width: 20vh;
    height: 5vh;
    font-size: 16px;
    color: white;
    border: none;
    background-color: var(--item-color);
    border-radius: 8px;
    margin-top: 5%;
    transition: .4s;
    font-weight: 400;
}

.tech-button button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

.tech-img img{
    height: 100%;
    width: 100%;
}
